{% extends "base.html" %}
{% load url from future %}

{% block title %}
{{ device.name }} - Home Control
{% endblock %}
{% block page_title %}
    {{ device.name }}
{% endblock %}

{% block content %}
    <div data-role="content">
        <div id="device">
            <form method="post" action="">{% csrf_token %}
                {{ deviceForm.as_table }}
                <input type="submit" name="updateDevice" value="Update Device Info" />
            </form>
        </div>
        <div id="availableCommands">
            <h2>Available Commands</h2>
            {% if commands %}
                <div id="commands_grid">
                    <div class="ui-grid-b" id="commands_grid_fields">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">Name</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px">Test</div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">Delete</div>
                        </div>
                    </div>
                    {% for command in commands %}
                    <div class="ui-grid-b" id="commands_grid_row_{{ command.id }}">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">{{ command.name }}</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px">
                                <a href="#" data-role="button" data-theme="a" onclick="runCommand('/run_command/{{ device.id }}/{{ command.id }}/')">Test</a>
                            </div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">
                                <form method="post" action="">{% csrf_token %}
                                    <input type="submit" name="deleteCommand" value="Delete" onclick="this.value='{{ command.id }}';this.form.post()"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>Currently there are no commands.</h3>
            {% endif %}
        </div>
        <div id="addCommand">
            <h2>Add Custom Command</h2>
            <form method="POST" action="">{% csrf_token %}
                {{ commandForm.as_table }}
                <input type="submit" name="addCommand" value="Add Command" />
            </form>
        </div>
        {% if canRecord %}
        <div id="recordCommand">
            <h3>Or record a command</h3>
            <a href="#" data-role="button" data-theme="a" onclick="recordCommand('{{device.id }}')">Record</a>
        </div>
        {% endif %}
    </div>
{% endblock %}
