{% extends "base.html" %}
{% load url from future %}

{% block title %}
{{ device.name }} - Home Control
{% endblock %}
{% block page_title %}
    {{ device.name }}
{% endblock %}

{% block content %}
    <div data-role="content">
        <div id="device">
            <form method="post" action="">{% csrf_token %}
                {{ device_form.as_table }}
                <input type="submit" name="updateDevice" value="Update Device Info" />
            </form>
        </div>
        <div id="availableCommands">
            <h2>Available Commands</h2>
            {% if commands %}
                {% if 0 %}
                <table id="commands_table" border="1">
                    <tr>
                        {% with commands|first as first_command %}
                        {% for field, value in first_command.get_fields %}
                        <th>{{ field }}</th>
                        {% endfor %}
                        {% endwith %}
                        <th>Delete</th>
                    </tr>
                    {% for command in commands %}
                    <tr>
                        {% for field, value in command.get_fields %}
                        <td>{{ value }}</td>
                        {% endfor %}
                        <td>
                            <form method="post" action="">{% csrf_token %}
                                <input type="submit" name="deleteCommand" value="Delete" onclick="this.value='{{ command.id }}';this.form.post()"/>
                            </form>
                        </td>                    
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                <div id="commands_grid">
                    <div class="ui-grid-b" id="commands_grid_fields">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">Name</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px">Value</div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">Delete</div>
                        </div>
                    </div>
                    {% for command in commands %}
                    <div class="ui-grid-b" id="commands_grid_row_{{ command.id }}">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">{{ command.name }}</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px">{{ command.value }}</div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">
                                <form method="post" action="">{% csrf_token %}
                                    <input type="submit" name="deleteCommand" value="Delete" onclick="this.value='{{ command.id }}';this.form.post()"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>Currently there are no commands.</h3>
            {% endif %}
        </div>
        <div id="addCommand">
            <h2>Add Custom Command</h2>
            <h4>Common commands (On, Off, etc.) are already programmed!</h4>
            <form method="post" action="">{% csrf_token %}
                {{ command_form.as_table }}
                <input type="submit" name="addCommand" value="Add Command" />
            </form>
        </div>
    </div>
{% endblock %}
