{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block page_title %}
    Webmote
{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <p>Go ahead and take control by logging in.</p>
    <a data-role="button" href="{% url login %}">Log In</a>
{% else %}
    <div data-role="content">
        {% if room == "all" %}
            <h1>All Devices</h1>
        {% else %}
            <h1>Devices in {{ room }}</h1>
        {% endif %}
        <ul data-role="listview" data-inset="true">
            {% for Device in devices %}
            <li><a href="/device/{{ Device.id }}">{{ Device.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}
