{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block page_title %}
    Webmote
{% endblock %}
{% block content %}
{% if user.is_anonymous %}
    <p>Go ahead and take control by logging in.</p>
    <a data-role="button" href="{% url login %}">Log In</a>
{% else %}
    <div data-role="content">	
        <ul data-role="listview" data-inset="true">
            <li><a href="/custom_screens/">Custom Screens</a></li>
            <li><a href="/rooms/">Rooms</a></li>
            <li><a href="/devices/all">All Devices</a></li>
            <li><a href="/setup/">Setup/Config</a></li>
        </ul>
    </div>
{% endif %}
{% endblock %}
