{% extends "base.html" %}
{% comment %}
{% extends "jqm/simple.html" %}
{% endcomment %}

{% block title %}
    Webmote - Rooms
{% endblock %}

{% block page_title %}
    Webmote - Rooms
{% endblock %}
{% block content %}
    <div data-role="content">	
        {% if rooms %}
            <ul data-role="listview" data-inset="true">
                {% for room in rooms %}
                <li><a href="/devices/{{ room }}">{{ room }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Currently there are no devices or none that you have been granted access to.</h3>
            {% if user.is_superuser %}
                <h3>Add a device new device in <a href="/setup/">Setup/Config</a></h3>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
