{% extends "base.html" %}
{% load url from future %}

{% block title %}
Devices - Home Control
{% endblock %}
{% block page_title %}
    Setup/Config
{% endblock %}

{% block content %}
    <div data-role="content">
        <div id="devices">
            <h2>Devices</h2>
            {% if devices %}
                <div id="devices_grid">
                    <div class="ui-grid-b" id="devices_grid_fields">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">Name</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px">Edit</div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">Delete</div>
                        </div>
                    </div>
                    {% for device in devices %}
                    <div class="ui-grid-b" id="devices_grid_row_{{ device.id }}">
                        <div class="ui-block-a">
                            <div class="ui-bar ui-bar-a" style="height:30px">{{ device.name }}</div>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-bar ui-bar-a" style="height:30px"><a href="/device/{{ device.id }}/">Edit</a></div>
                        </div>
                        <div class="ui-block-c">
                            <div class="ui-bar ui-bar-a" style="height:30px">
                                <form method="post" action="">{% csrf_token %}
                                    <input type="submit" name="deleteDevice" value="Delete" onclick="this.value='{{ device.id }}';this.form.post()"/>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
               <h3>Currently there are no devices registered.</h3>
            {% endif %}
        </div>

        <div id="newDeviceType">
            <h2>New Device Type</h2>
            <h3>(e.g. Zigbee, IR, X10)</h3>

            need to figure this out at some point...I am thinking we define a plugin format (lists the classes, methods, forms, url) in such a way that it is easy to parse.  Then we just add those to the appropraite files with a script with some comment anchors allowing for removal, replacement, etc.      
        </div>

        {% if deviceTypes %}
            <div id="newDevice">
                <h2>New Device</h2>
                Device type:
                <select id="selectDeviceType">
                        <option>---</option>
                    {% for deviceType in deviceTypes %}
                        <option id="{{ deviceType }}">{{ deviceType }}</option>
                    {% endfor %}
                </select>
                {% for deviceForm in addDeviceForms %}
                    <div class="deviceForm" id="{{ deviceForm.1 }}" style="display:none">
                        <form method="post" action="">{% csrf_token %}
                            {{ deviceForm.0.as_table }}
                            <input type="submit" name="new_{{ deviceForm.1 }}"" value="Add Device" />
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div id="noDeviceTypes">
                   <h3>Currently there are no device types registered. Add a new device type and then add a new device</a></h3>
            </div>
        {% endif %}
    </div>
{% endblock %}
