{% extends "base.html" %}
{% load url from future %}

{% block title %}
Users - Home Control
{% endblock %}
{% block page_title %}
    Users
{% endblock %}

{% block content %}
    <div data-role="content">
        <div id="usersDevicesPermissions">
            <h2>Device Access for Users</h2>
            <div id="selectUsers" data-role="fieldcontain">
                <h3>Users</h3>
                <fieldset data-role="controlgroup">
                    <legend>Select user(s) to modify:</legend>
                    <input type="checkbox" name="user-0" id="user-0" class="custom" />
                    <label for="user-0">All Users</label>
                {% for user in users %}
                    {% if not user.is_superuser %}
                        <input type="checkbox" name="user-{{ user.id }}" id="user-{{ user.id }}" class="custom" />
                        <label for="user-{{ user.id }}">{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</label>
                    {% endif %}
                {% endfor %}
                </fieldset>
            </div>
            <div id="availableDevices">
                <h3>Devices</h3>
                {% if devices %}
                    <div id="allowDeviceControl" data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <legend>Select devices for the user(s) to control:</legend>
                            <input type="checkbox" name="device-0" id="device-0" class="custom" />
			                <label for="device-0">All Devices</label>
                            {% for device in devices %}
                                <input type="checkbox" name="device-{{ device.id }}" id="device-{{ device.id }}" class="custom" />
				                <label for="device-{{ device.id }}">{{ device.name }} ({{ device.location }})</label>
                            {% endfor %}
                        </fieldset>
                    </div>
                    <a href="#" data-role="button" onclick="savePermissions()">Save</a>
                {% else %}
                    <h3>Currently there are no devices.</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
