{% extends "base.html" %}
{% load url from future %}

{% block title %}
Users - Home Control
{% endblock %}
{% block page_title %}
    Users
{% endblock %}

{% block content %}
    <div data-role="content">
        <div id="users">
            <div class="ui-grid-a" id="users_grid_fields">
                <div class="ui-block-a">
                    <div class="ui-bar ui-bar-a" style="height:30px">Name</div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-bar ui-bar-a" style="height:30px">Delete</div>
                </div>
            </div>
            {% for user in users %}
            <div class="ui-grid-a" id="users_grid_row_{{ user.id }}">
                <div class="ui-block-a">
                    <div class="ui-bar ui-bar-a" style="height:30px">{{ user.username }} ({{ user.first_name }} {{ user.last_name }})</div>
                </div>
                <div class="ui-block-b">
                    <div class="ui-bar ui-bar-a" style="height:30px">
                        <form method="POST" action="">{% csrf_token %}
                            <input type="submit" name="deleteUser" value="Delete" onclick="this.value='{{ user.id }}';this.form.post()"/>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="addUser">
            <h2>Add New User</h2>
            <form method="POST" action="">{% csrf_token %}
                {{ newUserForm.as_table }}
                <input type="submit" name="addUser" value="Add User" />
            </form>
        </div>
    </div>
{% endblock %}
